body{
    margin: 0;
    background-image: url('../assets/G50.svg'); 
  }
  .grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
  }
  h1{
    margin: 0;
    color: red;
    font-size: 2.2em;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255,0.9);
    position: sticky;
    top: 0;
    padding:10px;
    border-bottom:5px solid black
  }
  .bookContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5%;
    color: white;
  }
  .bookContainer:hover{
    scale: 1.1;
    transition: 0.5s;
  }
  #searchBar{
    padding: 10px 40px;
    width: 25%;
    font-size: large;
  }
  h3{
    margin: 0px;
    margin-top: 5px;
  }
  p{
    margin: 2px;
  }
  .grid{
    display: grid; 
    grid-template-columns: repeat(4,2fr);
  }
  img{
    height: 100%;
    width: 100%;
    border: 5px solid  black;
    /* box-shadow: 0px 2px 5px 0px; */
  }
  @media (max-width:500px) {
    .nav{
      display: flex;
      flex-direction: column;
    }
 
    .grid{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bookContainer{
      width: 100%;
    }
  }
  
  #nggnmAEACAAJ{
  background-color: rgba(244, 220, 115, 0.7);
  }
  #sJf1vQAACAAJ{
    background-color:rgba(247, 147, 32, 0.7);
  }
  #evuwdDLfAyYC{
    background-color: rgba(161, 162, 169, 0.7);
  }
  #\37 4XNzF_al3MC{
    background-color: rgba(189, 205, 193, 0.7);
  }
  #jAUODAAAQBAJ{
    background-color: rgba(92, 168, 72, 0.7);
  }
  #IOejDAAAQBAJ{
    background-color: rgba(28, 88, 40, 0.7);
  }
  #\31 wy49i-gQjIC{
    background-color: rgba(42, 51, 142, 0.7);
  }
  










  #formBody{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    height: 100vh;
    scale: 2;
}
  #formContainer{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px ;
    /* scale: 2; */
  }
  .forminput{
    border-radius: 0px;
    color: black;
    background-color: #eeecee;
    border:none ;
    padding: 5px;
    margin: 5px;
  }
  #register{
    cursor: pointer;
    background-color: #43a746;
    color: white;
    /* width: 90%; */
  }
  p{
    margin: 0;
    font-size: 0.5em;
    color: red;
    text-align: left;
    padding-left: 9px;
  }
  
  #regStatus{
    font-size: 0.9em;
    background-color: #3f81dd ;
    color: white;
  }


